/* clear fix for nav */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}

/* clear fix for nav */

/* body style */


html { 
    -webkit-font-smoothing: antialiased; 
}

body {
    overflow-x: hidden;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}



/* body style */


/* nav style */

nav {
	height: 60px;
	width: 100%;
	background: #99FFFF;
	filter:alpha(opacity=70); /* IE */
	-moz-opacity:0.7; /* Mozilla */
	opacity: 0.7; /* CSS3 */
	font-size: 20pt;
	position: relative;
}
nav ul {
	padding: 0;
	margin: 10px auto;
	width: 600px;
	height: 40px;
}
nav li {
	display: inline;
	float: left;
}
nav a {
	color: black;
	display: inline-block;
	width: 120px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
nav li a {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav a:hover, nav a:active {
	border-bottom: 1px solid white;
	text-decoration: none;
	color: black;
}
nav a#pull {
	display: none;
}

/* styles for screen 600px and lower */
@media screen and (max-width: 600px) {
	nav { 
  		height: auto;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid transparent;
		border-right: 1px solid white;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
}

/* styles for screen 515px and lower */
@media only screen and (max-width : 480px) {
	nav {
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		background-color: transparent;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}

/* smartphone */
@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid white;
	}
}

/* nav style */


/* hr */

hr {
width: 90%;
}

/* hr */

/* thin out marketing headings */

.featurette-heading {
  font-weight: 400;
  line-height: 1;
  letter-spacing: -1px;
}

/* thin out marketing headings */


/* responsive thin out marketing headings */

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 60px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 50px;
	margin-bottom: 80px;
  }
}

/* responsive thin out marketing headings */

/* bootstrap customs */

#lifestyle {
	background: #FF9999;
	padding: 50px;
}
.running-center { 
	margin: 0 auto; 
	height: 200px; 
	width: 300px; 
	display: block;
}
.go-forward {
	margin: 0 auto;
	height: 200px;
	width: 300px;
	display: block;
}
#fitbit-flex img {
	border: 1px solid black;
}

.details {
    display: none;
}
#button-style {
	color: black;
	font-size: 20px;
	background: transparent;
	border: 1px solid black;
	border-radius: 0;
	display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

#button-style:hover {
	color: black;
	background: white;
}

#apple-tape img {
	border: 1px solid black;
}

#restaurant img {
	border: 1px solid black;
}


.colorful-vegetables {
	border: 1px solid black;
}
.sushi {
	margin: 0 auto;
	height: 200px;
	width: 300px; 
	display: block;
}
#recipes img {
	border: 1px solid black;
}

.chicken-center {
	margin: 0 auto;
	height: 200px;
	width: 300px; 
	display: block;
}
.classWithPad { 
	margin:5px; 
	padding:5px;
}
.classWithPad p {
	font-size: 15pt;
}
.gap-right {
  margin-right: 15px; 
}

#healthy-foods {
	background: #33CC99;
	padding: 50px;
}
#workout-info {
	background: #FFC968;
	padding: 50px;
}
#motivation-info {
	background: #FFC0EB;
	padding: 50px;
}
#gallery-one img {
	border: 1px solid black;
}
#gallery-one .bracelet:hover {
	opacity: 0.8; 
	filter: alpha(opacity=80);
}
#gallery-one .smartphone:hover {
	opacity: 0.8; 
	filter: alpha(opacity=80);
}
#gallery-one .kitchen:hover {
	opacity: 0.8; 
	filter: alpha(opacity=80);
}
#gallery-two img {
	border: 1px solid black;
}
#gallery-two .hiking:hover {
	opacity: 0.8; 
	filter: alpha(opacity=80);
}
#gallery-two .casual:hover {
	opacity: 0.8; 
	filter: alpha(opacity=80);
}
#gallery-two .running:hover {
	opacity: 0.8; 
	filter: alpha(opacity=80);
}
#fitbit-info {
	background: #99FFFF;
	
}
#contact {
	padding: 15px;
	width: 95%;
}
#social-list li {
	display: inline;
	list-style-type: none;
	padding-right: 10px;	
}
#website {
	font-size: 1.5em;
}
#map-container { 
	height: 250px;

}
#map {
	border: 1px solid black;
	padding: 15px;
}
#credits {
	background: white;
	padding: 50px;
}
#credit-font {
	font-size: 20px;
}

/* bootstrap customs */

/* scroll up button */

.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #99FFFF url('arrow_carrot-up.png') no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #99FFFF;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

/* scroll up button */

.contact-text {
	font-size: 25px;
}




/* start of new css */

#fade-youtube-video {
  -moz-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  animation: fadeIn 5s;
}

#fitbit-nav {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  background: rgba(153,255,255,0.7);
  padding: 3px;
  -moz-animation: fadeIn 15s;
  -ms-animation: fadeIn 15s;
  -o-animation: fadeIn 15s;
  -webkit-animation: fadeIn 15s;
  animation: fadeIn 15s;
}

#fitbit-nav a {
  color: black;
  font-size: 18px;
}

#fitbit-nav a:hover {
  background: rgba(255,255,255,0.7);
  color: black;
}

#link-button {
  border-radius: 0;
  border: 1px solid transparent;
  background: transparent;
}

/* BACKGROUND TRANSITIONS */
/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: transparent;
  color: black;
}

.navbar-nav.nav-justified > li{
  float:none;
  padding-left: 20px;
}

#looks-nav .navbar-collapse {
  border-color: black;
  border-radius: 0;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  background-color: transparent;
  border-radius: 0;
}

#fitbit-icon .icon-bar {
  background-color: black;
  border-radius: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
  border-radius: 0;
}

section.module:last-child {
  margin-bottom: 0;
}

section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}

section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}

section.module p:last-child {
  margin-bottom: 0;
}

section.module.parallax {
  height: 600px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.module.parallax h1 {
  color: white;
  font-size: 40px;
  line-height: 500px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
  background-image: url('../img/womanlift.png');
}

section.module.parallax-2 {
  background-image: url('../img/running.png');
}

section.module.parallax-3 {
  background-image: url('../img/yogaatlake.png');
}

section.module.parallax-4 {
  background-image: url('../img/staymotivated.png');
}

.skateboarding-bg {
	background-image: url('../img/skateboarding.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 500px;
}

.space-skateboarding-bg {
	padding: 200px;
}

.chore-text {
	background-color: white;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
	font-size: 30px;
	color: black;
  padding: 130px;
	height: 300px;
}

.chore-sentence {
  color: black;
  background: white;
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.workout-examples {
  color: black;
  background: white;
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.workout-text {
  padding-top: 110px;
  color: white;
  font-size: 30px;
}

.swimming-bg {
  background-image: url('../img/swimming.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 300px;
}

.boxing-bg {
  background-image: url('../img/boxing.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 300px;
}

.biking-bg {
  background-image: url('../img/biking.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 300px;
}

.stairs-bg {
  background-image: url('../img/stairs.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 300px;
}

.crossfit-bg {
  background-image: url('../img/crossfit.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 300px;
}

.yoga-bg {
  background-image: url('../img/yoga.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 300px;
}

.jumprope-bg {
  background-image: url('../img/jumprope.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 300px;
}

.hiking-bg {
  background-image: url('../img/hiking.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 300px;
}

.battlerope-bg {
  background-image: url('../img/battlerope.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 300px;
}

.kayak-bg {
  background-image: url('../img/kayak.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 300px;
}

.surfing-bg {
  background-image: url('../img/surfing.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 300px;
}

.rowing-bg {
  background-image: url('../img/rowing.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 300px;
}

.learnmore-sentence {
  color: black;
  background: white;
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.learnmore-bg {
  background-image: url('../img/learnmore.png');
  background-repeat: none;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 650px;
}

.space-learnmore {
  padding-top: 300px;
}

.learnmore-text {
  color: white;
  font-size: 70px;
}

.learnmore-text:link {
  text-decoration: none;
}

.learnmore-text:hover {
  color: white;
  background: black;
  text-decoration: none;
  padding: 20px;
}



